.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form input,
.form textarea,
.form select {
  padding: 12px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid #2e374a;
  border-radius: 5px;
  margin-bottom: 30px;
}

.form input[type="text"],
.form select {
  width: 45%;
}

.form input[type="radio"] {
  width: 10%;
  margin-right: 5px;
}

.form .flex label {
  margin-right: 20px;
}

.form textarea {
  width: 100%;
}

.form button {
  width: 10%;
  padding: 12px;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}
